.card {
  max-width: 400px;
  border: 1px solid darkgray;
  padding: 15px;
  border-radius: 20px;
}

.card .card-header {
  margin-bottom: 20px;
}

.card .card-header h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.card img {
  max-width: 100%;
}

.card button {
  margin: 0 5px;
}
